.contact {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: $c-textDark;

  &__wrapper {
    padding-top: 103px;

    @include onTablet {
      height: 800px;
    }

    @include onMobile {
      width: 100%;
      padding: 50px 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
    }
  }

  &__info {
    padding-left: 180px;

    @include onTablet {
      padding-left: calc(30vw - 180px);
    }
  }
  
  &__title {
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: $c-textLight;
    background-color: $c-textDark;
  }

  &__slogan {
    margin-top: 230px;
    font-size: 64px;
    line-height: 94px;
    font-weight: bold;
    letter-spacing: -0.01em;
    color: $c-textLight;
    background-color: $c-textOpacity;
    transition: background-color 0.5s;
    &:hover {
      background-color: $c-textDark;
    }

    @include onTablet {
      margin-top: 150px;
    }

    @include onMobile {
      font-size: 39px;
      line-height: 94px;
    }
  }

  &__text {
    margin-top: 45px;
    font-size: 36px;
    line-height: 53px;
    letter-spacing: -0.01em;
    color: $c-textLight;
    background-color: $c-textOpacity;
    transition: background-color 0.5s;
    &:hover {
      background-color: $c-textDark;
    }

    @include onMobile {
      br {
        display: none;
      }
      font-size: 29px;
      line-height: 1.5;
    }
  }

  &__link-wrapper {
    padding-left: 170px;
    margin-top: 60px;

    @include onTablet {
      padding-left: calc(30vw - 190px);
      margin-top: 140px;
    }

    @include onMobile {
      margin: 0;
    }
  }

  &__link {
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: $c-logo;
    background-color: $c-textDark;
    transition: background-color 0.5s, transform 0.3s;

    &:hover {
      background-color: $c-whoAmI;
      transform: scale(1.2);
      box-shadow: 1px 0 20px $c-textLight;
    }
    
    @include onMobile {
      margin: 0;
    }
  }

  &__picture {
    background-image: url("../images/contact-us.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 480px;
    @include shadowBox;

    @include onTablet {
      display: none;
    }
  }
}
